*{
    margin: 0px;
    padding: 0px;
}
.clearfix{
    float: none;
    clear: both;
}
boby {
    background-image: url('images/images.jpg');
    background-attachment: fixed;
}

#global{
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 2px #ccc;
}

#logo{
    font-family: "Verdana",Arial;
    font-size: 28px;
    letter-spacing: 4px;
    line-height: 75px;
    background: #235E3D;
    color: white;
    text-align: center;
    width: 385px;
    height: 80px;
    float: left;
    text-transform: uppercase;
}

#menu{
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    width: 80%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#menu ul{
    line-height: 46px;
    list-style: none;
}

#menu ul li{
    height: 46px;
    display: inline-block; /*Coloca la lista en linea horizotal*/
    transition: all 300ms;
}

/* muestra el color al pasar el cursor */
#menu ul li:hover{
    background: #235E3D;
    cursor: pointer;
}
#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px; 
}